html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

nav {
  display: flex;
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  align-items: center;
}

nav .main-nav-links {
  position: absolute;
  left: 0;
  margin-left: 25px;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: darkslategray;
  font-weight: bold;
}

nav .main-nav-links a {
  font-size: 18px;
}

nav .other-nav-links {
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 35px;
  width: 350px;
  justify-content: space-between;
}

header {
  margin-top: 50px;
}

.header-section {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-image: url(imgs/space.png);
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-size: cover;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.ship-icon-size {
  width: 40px;}

.tagline {
  color: white;
  font-size: 18px;
}

h1 {
  font-size: 45px;
  color: white;
  margin-bottom: 0;
}

button {
  background: transparent;
  margin: 0px;
  padding: 12px 35px;
  border-radius: 15px;
  font-size: 18px;
  border-color: white;
  color: white;
  cursor: pointer;
  margin-top: 50px;
}

.book-button:hover {
  background: inherit;
}

.send-button {
  border-color: royalblue;
  color: royalblue;
  margin-top: 0;
  margin-bottom: 20px;
}

.send-button:hover {
  background-color: royalblue;
  color: white;
}

.advantages {
  display: flex;
  justify-content: space-evenly;
  height: 240px;
  padding: 40px 110px;
  align-items: center;
}

.advantages-item {
  width: 330px;
}

h2 {
  font-size: 30px;
}

.about-section {
  background-color: whitesmoke;
  height: 240px;
  padding: 40px 300px;
}

.about-img {
  width: 300px;
  float: right;
  margin-left: 100px;
  margin-top: 30px;
}

.rest-place-section {
  height: 240px;
  padding: 40px 300px;
}

.rest-place-img {
  width: 300px;
  float: left;
  margin-right: 100px;
  margin-top: 30px;
}

.clear-float {
  clear: both;
}

.form-section {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.form-block {
  width: 370px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
  border: 2px solid royalblue;
  margin-bottom: 20px;
}

.form-block-2 {
  height: 120px;
}

.input-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-block-label {
  color: royalblue;
  font-weight: bold;
  position: relative;
  top: 10px;
  left: 30px;
  background: whitesmoke;
  font-size: 18px;
  padding: 0 3px;
}

select {
  width: 120px;
  height: 30px;
  border: 1px solid darkgray;
}

input {
  width: 170px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid darkgray;
}

main {
  flex-grow: 1;
  color: darkslategray;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 210px;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer-main-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
}

.year {
  font-size: 12px;
  font-weight: 100;
}

.doc-label {
  font-size: 18px;
  font-weight: bold;
}

ul li a {
  font-size: 14px;
}

